<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">

    <form action="/register" method="post">
        <div class="mb-3 ">
            <label class="form-label" for="full_name">Full name</label>
            <input class="form-control" name="name" class="form-label" type="text" name="full_name" ,>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">PhoneNumber</label>
            <input type="number" class="form-control" name="phone" id="exampleInputPassword1" name="phone_number">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>

</html>